@import "../../../../assets/sass/variables";


.add_comment_form{

    background: $color_white;
    margin-top: 2.4rem;
    border-radius: 1rem;
    padding: 2.4rem 3.2rem;
    
    @media only screen and (max-width: $bp_phone){
        padding: 2.8rem 2.4rem;
    }

    h3{
        color: $color_grey_dark_1;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: -.25px;
        margin-bottom: 2.4rem;

        @media only screen and (max-width: $bp_phone){
            margin-bottom: 2.5rem;
        }
    }

    textarea{
        width: 100%;
        height: 8rem;
        resize: none;
        border-radius: .5rem;
        background: $color_grey_light_2;
        border: none;
        outline: none;
        padding: 1.6rem 2.4rem;
        font-size: 1.5rem;
        font-weight: 400;

        &:focus, &:active, &:hover{
            border: 1px solid $color_secondary !important;
        }
    }

    > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.6rem;
        
        @media only screen and (max-width: $bp_phone){
            margin-top: 1.1rem;
        }

        p{
            color: $color_grey_dark_2;
            font-size: 1.5rem;

            @media only screen and (max-width: $bp_phone){
                font-size: 1.3rem;
            }
        }
    }

}