@import "../../../../assets/sass/variables";

.comments_container{

    .comment{

        &--reply{
            position: relative;

            &::before{
                content: "";
                height: 57%;
                width: 1px;
                background: #F0F1F5;
                position: absolute;
                left: 2.4rem;
                top: 6.4rem;
            }
        }

        &:not(:last-of-type){
            margin-bottom: 3.1rem;
            border-bottom: 1px solid #E2E3EC;
        }
        padding-bottom: 3.1rem;

        &__head{
            display: flex;
            align-items: center;
            gap: 3.2rem;
        }

        &__avatar{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
        }

        &__user{
            font-size: 1.4rem;

            &--fullname{
                color: $color_grey_dark_1;
                font-weight: 700;
                letter-spacing: -0.194px;
                margin-bottom: 0;
                line-height: normal;
            }

            &--username{
                color: $color_grey_dark_2;
                font-weight: 400;
            }
        }

        &__reply{
            margin-left: auto;
            color: $color_secondary;
            font-size: 1.4rem;
            font-weight: 600;
            border: none;
            outline: none;
            background: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &__content{
            color: $color_grey_dark_2;
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 7.2rem;
            margin-top: 1.5rem;
        }

        > .reply_form{
            margin-left: 7.2rem;
            margin-top: 2.3rem;
        }
    }

    .replies_container{
        margin-top: 3rem;
        > .reply_form{
            margin-left: 14.4rem;
        }
    }
}