@import "../../../../assets/sass/variables";

.replies_container{
    position: relative;

    &::before{
        content: "";
        height: calc(100% - 10rem);
        width: 1px;
        background: #F0F1F5;
        position: absolute;
        left: 2.4rem;

        @media only screen and (max-width: $bp_phone){
            left: 0;
        }
    }

    .reply{

        padding-left: 7.2rem;
        padding-bottom: 3.1rem;

        @media only screen and (max-width: $bp_phone){
            padding-left: 2.4rem;
            padding-bottom: 2.2rem;
        }

        &__head{
            display: flex;
            align-items: center;
            gap: 3.2rem;

            @media only screen and (max-width: $bp_phone){
                gap: 1.6rem;
            }
        }

        &__avatar{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
        }

        &__user{
            font-size: 1.4rem;

            @media only screen and (max-width: $bp_phone){
                font-size: 1.3rem;
            }

            &--fullname{
                color: $color_grey_dark_1;
                font-weight: 700;
                letter-spacing: -0.194px;
                margin-bottom: 0;
                line-height: normal;
            }

            &--username{
                color: $color_grey_dark_2;
                font-weight: 400;
            }
        }

        &__reply{
            margin-left: auto;
            color: $color_secondary;
            font-size: 1.4rem;
            font-weight: 600;
            border: none;
            outline: none;
            background: none;

            @media only screen and (max-width: $bp_phone){
                font-size: 1.3rem;
            }

            &:hover{
                text-decoration: underline;
            }
        }

        &__content{
            color: $color_grey_dark_2;
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 7.2rem;
            margin-top: 1.5rem;

            @media only screen and (max-width: $bp_phone){
                margin-left: 0;
                font-size: 1.3rem;
            }
        }

        &__tag{
            color: $color_primary;
            font-weight: 700;
        }
    }
}