@import "../../../../assets/sass/variables";

.no_suggestion{
    height: 60rem;
    background: $color_white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon{
        height: 14rem;
        width: 13rem;
        background: url("/images/suggestions/illustration-empty.svg") no-repeat center;
        margin-bottom: 3.7rem;
    }

    &__title{
        color: $color_grey_dark_1;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -.333px;
        margin-bottom: 1.2rem;
    }

    &__description{
        color: $color_grey_dark_2;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    
    button{
        margin-top: 4.7rem;
    }
}