@import "../../../../assets/sass/variables";

.no_suggestion{
    height: 60rem;
    background: $color_white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    &__icon{
        height: 14rem;
        width: 13rem;
        background: url("/images/suggestions/illustration-empty.svg") no-repeat center;
        margin-bottom: 3.7rem;

        @media only screen and (max-width: $bp_phone){
            height: 10.8rem;
            width: 10.2rem;
            margin-bottom: 2rem;
        }
    }

    &__title{
        color: $color_grey_dark_1;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -.333px;
        margin-bottom: 1.2rem;
        text-align: center;
        
        @media only screen and (max-width: $bp_phone){
            font-size: 1.8rem;
        }
    }

    &__description{
        color: $color_grey_dark_2;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0;
        text-align: center;

        @media only screen and (max-width: $bp_phone){
            font-size: 1.3rem;
        }
    }
    
    .btn{
        margin-top: 4.7rem;

        @media only screen and (max-width: $bp_phone){
            margin-top: 2.5rem;
        }
    }
}