@import "../../assets/sass/variables";

#home{
    width: 98%;
    max-width: $max_width;
    margin: 9.4rem auto 0;
    display: flex;
    gap: 3rem;

    @media only screen and (max-width: $bp_tablet){
        flex-direction: column;
        margin-top: 5.6rem;
        width: calc(100% - 8rem);
        gap: 4rem;
    }

    @media only screen and (max-width: $bp_phone){
        width: 100%;
        gap: 0;
        margin-top: 7.2rem;
    }
    
    main{
        flex: 1;

        #suggestions_container{
            margin: 2.4rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media only screen and (max-width: $bp_tablet){
                gap: 1.6rem;
            }

            @media only screen and (max-width: $bp_phone){
                width: calc(100% - 4.8rem);
                margin: 3.2rem auto;
            }
        }
    }
}