@import "../../assets/sass/variables";

#home{
    max-width: $max_width;
    margin: 9.4rem auto 0;
    display: flex;
    gap: 3rem;

    main{
        flex: 1;

        #suggestions_container{
            margin: 2.4rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}