/* Colors */
$color_primary: #AD1FEA;
$color_secondary: #4661E6;
$color_tertiary: #373F68;

$color_grey_light_1: #F2F4FF;
$color_grey_light_2: #F7F8FD;

$color_grey_dark_1: #3A4374;
$color_grey_dark_2: #647196;

$color_orange: #F49F85;
$color_cyan: #62BCFA;
$color_red: #D73737;
$color_red_light: #E98888;
$color_white: #fff;
$color_black: #000;

/* Fonts */
$font_primary: "Jost", sans-serif;

/* Breakpoints */
$bp_tablet: 970px;
$bp_phone: 740px;
$max_width: 1100px;
$bp_smallest: 420px;